openapi: 3.1.0
info:
  title: OpenFiskal API
  version: 1.0.0
  description: |
    OpenFiskal exposes a compact fiscalization API for merchant onboarding,
    register setup, operation handling, and exports.

    Authentication uses a tenant-scoped, country-scoped API key created in the
    tenant dashboard and sent in the standard `Authorization: Bearer` header.

    Organization-scoped endpoints also require `X-OpenFiskal-Organization`.

servers:
  - url: https://api.openfiskal.com/v1
    description: Production
  - url: https://sandbox.api.openfiskal.com/v1
    description: Sandbox

tags:
  - name: Organizations
    description: Create, update, and delete merchant organizations.
  - name: Locations
    description: Create, list, read, update, and delete organization locations.
  - name: Registers
    description: Create, list, read, update, and delete organization registers.
  - name: Register Fiscalizations
    description: Trigger register fiscalization jobs.
  - name: Operations
    description: Start, update, complete, list, and read operations.
  - name: Exports
    description: Enqueue, inspect, and download export jobs.

paths:
  /organizations:
    post:
      tags: [Organizations]
      summary: Create organization
      description: Create a merchant organization.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
      responses:
        '201':
          description: Organization created
          headers:
            Location:
              schema:
                type: string
              description: URL of the created organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  /organizations/{organizationId}:
    patch:
      tags: [Organizations]
      summary: Update organization
      description: Update a merchant organization.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    delete:
      tags: [Organizations]
      summary: Delete organization
      description: Delete a merchant organization.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '204':
          description: Organization deleted

  /locations:
    post:
      tags: [Locations]
      summary: Create location
      description: Create a location inside the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
      responses:
        '201':
          description: Location created
          headers:
            Location:
              schema:
                type: string
              description: URL of the created location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
    get:
      tags: [Locations]
      summary: List locations
      description: List locations for the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Locations returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResponse'

  /locations/{locationId}:
    get:
      tags: [Locations]
      summary: Get location
      description: Read a single location in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Location returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
    patch:
      tags: [Locations]
      summary: Update location
      description: Update a location in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
      responses:
        '200':
          description: Location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
    delete:
      tags: [Locations]
      summary: Delete location
      description: Delete a location in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      responses:
        '204':
          description: Location deleted

  /registers:
    post:
      tags: [Registers]
      summary: Create register
      description: Create a register inside the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCreateRequest'
      responses:
        '201':
          description: Register created
          headers:
            Location:
              schema:
                type: string
              description: URL of the created register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
    get:
      tags: [Registers]
      summary: List registers
      description: List registers for the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/LocationFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Registers returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterListResponse'

  /registers/{registerId}:
    get:
      tags: [Registers]
      summary: Get register
      description: Read a single register in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      responses:
        '200':
          description: Register returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
    patch:
      tags: [Registers]
      summary: Update register
      description: Update a register in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUpdateRequest'
      responses:
        '200':
          description: Register updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
    delete:
      tags: [Registers]
      summary: Delete register
      description: Delete a register in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      responses:
        '204':
          description: Register deleted

  /registers/{registerId}/fiscalizations:
    post:
      tags: [Register Fiscalizations]
      summary: Create register fiscalization job
      description: |
        Trigger fiscalization for a concrete register.

        This is modeled as a sub-resource instead of a top-level verb endpoint so
        the target register is explicit.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      responses:
        '202':
          description: Fiscalization queued
          headers:
            Location:
              schema:
                type: string
              description: URL of the created fiscalization job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterFiscalizationJob'

  /operations:
    post:
      tags: [Operations]
      summary: Start operation
      description: |
        Start a new operation and return its `operation_id`.

        Supported sources:
        - `POS`
        - `ONLINE`
      security:
        - BearerAuth: []
          OrganizationHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationStartRequest'
      responses:
        '201':
          description: Operation started
          headers:
            Location:
              schema:
                type: string
              description: URL of the created operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStartResponse'
    get:
      tags: [Operations]
      summary: List operations
      description: List operations for the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/RegisterFilter'
        - $ref: '#/components/parameters/LocationFilter'
        - $ref: '#/components/parameters/OperationStatusFilter'
        - $ref: '#/components/parameters/OperationTypeFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Operations returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResponse'

  /operations/{operationId}:
    get:
      tags: [Operations]
      summary: Get operation
      description: Read a single operation in the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
      responses:
        '200':
          description: Operation returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
    patch:
      tags: [Operations]
      summary: Update operation
      description: Update an operation while it is still open.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationUpdateRequest'
      responses:
        '200':
          description: Operation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'

  /operations/{operationId}/completion:
    patch:
      tags: [Operations]
      summary: Complete operation
      description: |
        Complete an open operation by creating its completion state and attaching
        the final payment transactions.

        The URL uses a noun sub-resource instead of a verb path.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOperationRequest'
      responses:
        '200':
          description: Operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteOperationResponse'

  /exports:
    post:
      tags: [Exports]
      summary: Create export job
      description: Enqueue an export job for the scoped organization.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '202':
          description: Export queued
          headers:
            Location:
              schema:
                type: string
              description: URL of the created export job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'

  /exports/{exportId}:
    get:
      tags: [Exports]
      summary: Get export job
      description: Read export job status before downloading.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/ExportId'
      responses:
        '200':
          description: Export job returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'

  /exports/{exportId}/download:
    get:
      tags: [Exports]
      summary: Download export artifact
      description: Download a completed export artifact.
      security:
        - BearerAuth: []
          OrganizationHeader: []
      parameters:
        - $ref: '#/components/parameters/ExportId'
      responses:
        '200':
          description: Export downloaded
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '409':
          description: Export is not ready for download yet.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: Tenant-scoped, country-scoped API key created in the tenant dashboard.
    OrganizationHeader:
      type: apiKey
      in: header
      name: X-OpenFiskal-Organization
      description: Required on every organization-scoped request.

  parameters:
    OrganizationId:
      name: organizationId
      in: path
      required: true
      schema:
        type: string
    LocationId:
      name: locationId
      in: path
      required: true
      schema:
        type: string
    RegisterId:
      name: registerId
      in: path
      required: true
      schema:
        type: string
    OperationId:
      name: operationId
      in: path
      required: true
      schema:
        type: string
    ExportId:
      name: exportId
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
    LocationFilter:
      name: location_id
      in: query
      required: false
      schema:
        type: string
    RegisterFilter:
      name: register_id
      in: query
      required: false
      schema:
        type: string
    OperationStatusFilter:
      name: status
      in: query
      required: false
      schema:
        type: string
        enum: [open, completed]
    OperationTypeFilter:
      name: type
      in: query
      required: false
      schema:
        type: string
        enum: [sale, refund, exchange, custom]

  schemas:
    Address:
      type: object
      additionalProperties: false
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
      required: [line1, city, postal_code, country]

    Organization:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        legal_name:
          type: string
        country:
          type: string
        tax_id:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, legal_name, country, created_at, updated_at]

    OrganizationCreateRequest:
      type: object
      additionalProperties: false
      properties:
        legal_name:
          type: string
        country:
          type: string
        tax_id:
          type: string
        address:
          $ref: '#/components/schemas/Address'
      required: [legal_name, country]

    OrganizationUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        legal_name:
          type: string
        tax_id:
          type: string
        address:
          $ref: '#/components/schemas/Address'

    Location:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        organization_id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        timezone:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, organization_id, name, created_at, updated_at]

    LocationCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        timezone:
          type: string
      required: [name]

    LocationUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        timezone:
          type: string

    LocationListResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        next_cursor:
          type: string
          nullable: true
      required: [data]

    Register:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        organization_id:
          type: string
        location_id:
          type: string
        name:
          type: string
        external_id:
          type: string
        status:
          type: string
          enum: [active, inactive]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, organization_id, location_id, name, status, created_at, updated_at]

    RegisterCreateRequest:
      type: object
      additionalProperties: false
      properties:
        location_id:
          type: string
        name:
          type: string
        external_id:
          type: string
      required: [location_id, name]

    RegisterUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        external_id:
          type: string
        status:
          type: string
          enum: [active, inactive]

    RegisterListResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Register'
        next_cursor:
          type: string
          nullable: true
      required: [data]

    RegisterFiscalizationJob:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        register_id:
          type: string
        status:
          type: string
          enum: [queued, processing, completed, failed]
        created_at:
          type: string
          format: date-time
      required: [id, register_id, status, created_at]

    OperationData:
      oneOf:
        - $ref: '#/components/schemas/SaleOperation'
        - $ref: '#/components/schemas/RefundOperation'
        - $ref: '#/components/schemas/ExchangeOperation'
        - $ref: '#/components/schemas/CustomOperation'
      discriminator:
        propertyName: type
        mapping:
          sale: '#/components/schemas/SaleOperation'
          refund: '#/components/schemas/RefundOperation'
          exchange: '#/components/schemas/ExchangeOperation'
          custom: '#/components/schemas/CustomOperation'

    OperationBase:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        external_reference:
          type: string
        currency:
          type: string
        amount:
          type: integer
          description: Integer minor units. For example, cents.
        metadata:
          type: object
          additionalProperties: true
      required: [type]

    SaleOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          additionalProperties: false
          properties:
            type:
              type: string
              const: sale
            line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItem'
          required: [type]

    RefundOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          additionalProperties: false
          properties:
            type:
              type: string
              const: refund
            reference_operation_id:
              type: string
            line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItem'
          required: [type]

    ExchangeOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          additionalProperties: false
          properties:
            type:
              type: string
              const: exchange
            reference_operation_id:
              type: string
            returned_line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItem'
            new_line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItem'
          required: [type]

    CustomOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          additionalProperties: false
          properties:
            type:
              type: string
              const: custom
            name:
              type: string
          required: [type, name]

    LineItem:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        quantity:
          type: number
        unit_price:
          type: integer
        total_amount:
          type: integer
      required: [name]

    Operation:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        organization_id:
          type: string
        location_id:
          type: string
        register_id:
          type: string
        source:
          type: string
          enum: [POS, ONLINE]
        status:
          type: string
          enum: [open, completed]
        data:
          $ref: '#/components/schemas/OperationData'
        fiscal_information:
          $ref: '#/components/schemas/FiscalInformation'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
      required:
        [id, organization_id, location_id, register_id, source, status, data, created_at, updated_at]

    OperationStartRequest:
      type: object
      additionalProperties: false
      properties:
        location_id:
          type: string
        register_id:
          type: string
        source:
          type: string
          enum: [POS, ONLINE]
        data:
          $ref: '#/components/schemas/OperationData'
      required: [location_id, register_id, source, data]

    OperationStartResponse:
      type: object
      additionalProperties: false
      properties:
        operation_id:
          type: string
        status:
          type: string
          enum: [open]
      required: [operation_id, status]

    OperationUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/OperationData'

    CompleteOperationRequest:
      type: object
      additionalProperties: false
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
      required: [transactions]

    CompleteOperationResponse:
      type: object
      additionalProperties: false
      properties:
        operation_id:
          type: string
        status:
          type: string
          enum: [completed]
        fiscal_information:
          $ref: '#/components/schemas/FiscalInformation'
      required: [operation_id, status, fiscal_information]

    Transaction:
      type: object
      additionalProperties: false
      description: |
        Payment transaction data inspired by captured and reconciled payment records.
      properties:
        transaction_id:
          type: string
        payment_type:
          type: string
          description: For example `cash`, `card`, `voucher`, or `gift_card`.
        kind:
          type: string
          description: For example `sale`, `refund`, `capture`, `change`, or `void`.
        amount:
          type: integer
          description: Integer minor units. For example, cents.
        currency:
          type: string
        status:
          type: string
          description: Processor or POS status, such as `pending`, `success`, or `failed`.
        gateway:
          type: string
          description: Payment gateway or cash indicator.
        card_brand:
          type: string
        external_reference:
          type: string
        processed_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
      required: [payment_type, kind, amount, currency, status]

    FiscalInformation:
      type: object
      additionalProperties: false
      properties:
        fiscalization_id:
          type: string
        document_number:
          type: string
        qr_code_data:
          type: string
        receipt_url:
          type: string
          format: uri
        fiscalized_at:
          type: string
          format: date-time
      required: [fiscalization_id, document_number, fiscalized_at]

    OperationListResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
        next_cursor:
          type: string
          nullable: true
      required: [data]

    ExportRequest:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          description: Export type to generate.
        format:
          type: string
          enum: [csv, json, zip]
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
      required: [type, format, from, to]

    ExportJob:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        status:
          type: string
          enum: [queued, processing, completed, failed]
        format:
          type: string
          enum: [csv, json, zip]
        type:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        download_url:
          type: string
          format: uri
          nullable: true
      required: [id, status, format, type, created_at]
