openapi: 3.1.0
info:
  title: OpenFiskal API
  version: 1.0.0
  description: |
    The OpenFiskal API enables POS vendors and custom POS builders to integrate
    fiscalization compliance across multiple jurisdictions (Germany TSE, Austria RKSV,
    Italy RT, and more) through a single, unified API surface.

    ## Core Concept: Operations

    Everything that happens at a register is an **operation**. Each operation has a
    `start` and an `end` — and in many fiscal jurisdictions (notably Germany), both
    events are individually signed by the fiscal security device.

    This is not just a UX lifecycle. It is a legal requirement.

    ### Germany (TSE) Example

    In Germany, the TSE (Technische Sicherheitseinrichtung) mandates that the **start**
    and **end** of every POS transaction are independently signed. Both signatures must
    appear on the printed receipt.

    The flow looks like this:

    ```
    1. Cashier opens a sale for Table 3
       → POST /registers/reg_01/sales
       → TSE signs the start event
       → Platform returns: start_signature, transaction_counter=4821

    2. Items are added, customer orders dessert, splits the bill
       → PATCH /sales/op_01  (not a fiscal event — free mutations)

    3. Customer pays
       → POST /sales/op_01/complete
       → TSE signs the end event
       → Platform returns: end_signature, transaction_counter=4822, receipt

    Receipt contains:
      Start: counter=4821, sig=abc..., signed_at=19:02:11
      End:   counter=4822, sig=xyz..., signed_at=20:14:55
    ```

    Meanwhile, Table 7 and Table 1 have their own open operations with their own
    TSE-signed starts — all in-flight simultaneously on the same register.

    ### Why Start is a Fiscal Event

    Because the platform is involved from the very beginning, OpenFiskal becomes the
    **authoritative record of every open operation at every register, at all times**.
    If a register crashes mid-service, the platform holds the start signatures and
    open state. When it reconnects, fiscal integrity is preserved.

    ## Operation Lifecycle

    Every operation moves through the following states. The state transitions
    marked with 🔏 are **fiscal events** — they are signed by the fiscal security
    device and cannot be undone.

    ```mermaid
    stateDiagram-v2
        direction TB
        [*] --> open : POST /registers/:id/sales\nPOST /registers/:id/refunds\n🔏 fiscal start signed
        open --> completed : POST .../complete\n🔏 fiscal end signed
        open --> abandoned : POST .../abandon\n(no fiscal document)
        completed --> voided : POST /registers/:id/voids\n🔏 fiscal reversal signed\n(before closing)

        note right of open : PATCH mutations are free here\n(items, discounts, customer)
    ```

    ### Fiscal Event Detail

    For jurisdictions that sign both the start and end of an operation
    (e.g. Germany TSE), the timeline looks like this:

    ```mermaid
    sequenceDiagram
        participant POS
        participant OpenFiskal
        participant TSE

        POS->>OpenFiskal: POST /sales
        OpenFiskal->>TSE: Sign start event
        TSE-->>OpenFiskal: counter=4821, sig=abc...
        OpenFiskal-->>POS: fiscal.start_event (counter=4821)

        Note over POS,OpenFiskal: PATCH /sales — free mutations (no fiscal event)

        POS->>OpenFiskal: POST /sales/complete
        OpenFiskal->>TSE: Sign end event
        TSE-->>OpenFiskal: counter=4822, sig=xyz...
        OpenFiskal-->>POS: fiscal.end_event (counter=4822) + receipt
    ```

    ### Concurrent Operations

    Multiple operations can be open simultaneously on the same register.
    This is normal for hospitality (tables), mobility (fuel pumps, EV chargers),
    and workshop environments (service bays). Each open operation holds its own
    fiscally-signed start event independently.

    | Operation | State | Started | Counter | Note |
    |-----------|-------|---------|---------|------|
    | op_A | open | 19:02 | 4821 | table in progress |
    | op_B | open | 19:15 | 4823 | another table |
    | op_C | open | 18:45 | 4819 | waiting for card |
    | op_D | open | 20:01 | 4825 | just started |

    All four hold TSE-signed start events on register `reg_01`.
    Each completes independently when payment is confirmed.
    The daily closing can only happen once all are completed or abandoned.

    ## Operation Types

    Each operation type has its own endpoint with a strict, minimal schema.
    The unified `/operations` feed allows listing and reading across all types.

    | Type | Description |
    |---|---|
    | `sale` | Standard sale |
    | `refund` | Full or partial return |
    | `exchange` | Simultaneous refund + sale |
    | `void` | Cancellation of a completed operation before the daily closing. Produces a fiscal reversal document. |
    | `cash_movement` | Cash in / cash out |
    | `deposit` | Prepayment or reservation |
    | `deposit_capture` | Finalization of a prior deposit |
    | `training` | Non-fiscal staff training transaction |

    ## Authentication

    All API requests require a platform API key sent as a Bearer token.
    Platform integrators (POS vendors acting on behalf of merchants) pass an additional
    `OpenFiskal-Organization` header to scope requests to a specific merchant.

    ```
    Authorization: Bearer ofk_platform_...
    OpenFiskal-Organization: org_01HXYZ
    ```

    Register devices use a separate long-lived API key via the `X-Register-Api-Key` header.

    ## Idempotency

    All mutating endpoints accept an `Idempotency-Key` header. Strongly recommended
    for `start` and `complete` actions — retrying a fiscalization event without one
    risks duplicate fiscal records.

    ## Monetary Values

    All monetary amounts are integers in the **minor currency unit** (cents for EUR).
    No floats, ever.

  contact:
    name: OpenFiskal Support
    email: support@openfiskal.com
    url: https://docs.openfiskal.com
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.openfiskal.com/v1
    description: Production
  - url: https://sandbox.api.openfiskal.com/v1
    description: Sandbox

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: |
      Platform API keys, credential bootstrapping, and register credential management.
      See the Security Model section in the API overview for a full guide on
      which credential type to use for your integration topology.
  - name: Organizations
    description: Merchant and operator account management
  - name: Locations
    description: Physical or logical points of sale
  - name: Registers
    description: |
      Individual POS terminals or logical fiscal devices.

      A register has two states: `active` (accepting operations) and `archived`
      (permanently retired). Fiscal compliance capabilities are managed separately
      via **Fiscal Units**.
  - name: Fiscal Units
    description: |
      A FiscalUnit represents the link between a register and a fiscal compliance
      capability (TSE in Germany, RKSV certificate in Austria, RT device in Italy).

      A register can have one active binding at a time. Past bindings are retained
      for audit history. Bindings can be replaced atomically — the old binding is
      decommissioned and a new one provisioned in a single call.

      ### Lifecycle

      ```
      provisioning ──► active ──► decommissioned
                         │
                       error ──► active (recover)
                         │
                       decommissioned
      ```

      - **provisioning**: Fiscal device is being initialized (TSE, RT, RKSV)
      - **active**: Ready to sign operations
      - **error**: Fiscal device failure (recoverable)
      - **decommissioned**: Permanently retired
  - name: Operations
    description: |
      Unified read surface across all operation types. Use the typed endpoints
      (Sales, Refunds, etc.) for creation and mutation.
  - name: Sales
    description: |
      Standard sale operations. The most common operation type.

      **Lifecycle:** `open` → `completed` (or `abandoned`)

      Both the start and end are fiscal events. In Germany, both are TSE-signed.
  - name: Refunds
    description: |
      Full or partial return of a prior sale. Must reference the original operation.

      **Lifecycle:** `open` → `completed` (or `abandoned`)
  - name: Exchanges
    description: |
      Atomic return + new sale in a single operation. The `returned_line_items` and
      `new_line_items` are tracked separately, and payments settle the net difference.
      A single fiscal document is produced covering the entire exchange.
  - name: Voids
    description: |
      Cancellation of a completed operation before the daily closing. Produces a
      fiscal reversal document and transitions the original to `voided`. After the
      closing has been triggered, use a refund instead.
  - name: Cash Movements
    description: |
      Cash in and cash out events. Not a sale — no line items, no receipt.
      Required to be logged in Germany (TSE) and Austria (RKSV).
  - name: Deposits
    description: Prepayments and reservations.
  - name: Deposit Captures
    description: Finalizes a prior deposit operation.
  - name: Training
    description: Non-fiscal training transactions for staff practice.
  - name: Receipts
    description: Fiscal receipt documents and rendering
  - name: Closings
    description: End-of-day and shift closing reports
  - name: Heartbeat
    description: Register liveness and status monitoring
  - name: Cash Drawer Openings
    description: |
      Fiscal log of cash drawer open events. Required in jurisdictions that
      mandate a complete audit trail of drawer activity (e.g. Norway, Sweden).
      Each opening must be logged at the time it occurs, regardless of whether
      a POS operation is in progress.
  - name: Verification
    description: Public receipt authenticity verification. No authentication required.

  - name: E-Invoicing
    description: |
      Electronic invoice creation, submission, and lifecycle management.

      E-invoicing is a **separate resource family from POS operations**. A POS
      operation (sale, refund) produces a fiscal receipt at the point of sale.
      An e-invoice is a structured document routed through a national authority
      to a recipient — B2B, B2G, or consumer-on-request.

      The two worlds connect via a **reference**, not a merge: a `SaleOperation`
      may carry a `references.invoice_id` when a customer at a POS requests a
      formal invoice. Each resource is independently complete.

      ### Jurisdictions

      | Code | Country/Region | System | Notes |
      |------|---------------|--------|-------|
      | `IT` | Italy | SDI / FatturaPA | Mandatory B2B since 2019 |
      | `ES-PV-VI` | Álava | TicketBAI | All businesses since 2022 |
      | `ES-PV-SS` | Gipuzkoa | TicketBAI | All businesses since 2022 |
      | `ES-PV-BI` | Bizkaia | TicketBAI + Batuz | Includes LROE ledger requirement |
      | `ES` | Spain (national) | Verifactu | Rolling out 2025 |

      ### Invoice Lifecycle

      ```mermaid
      stateDiagram-v2
          direction LR
          [*] --> draft
          draft --> submitted : POST /invoices/:id/submit
          submitted --> transmitted : authority acknowledged
          transmitted --> delivered : SDI delivered (Italy)
          delivered --> accepted : recipient accepted (Italy)
          delivered --> undeliverable : invalid recipient
          transmitted --> rejected_by_authority : format/validation error
          transmitted --> cancellation_requested : POST /invoices/:id/cancel
          delivered --> cancellation_requested : POST /invoices/:id/cancel
          accepted --> cancellation_requested : POST /invoices/:id/cancel
          cancellation_requested --> cancelled : authority confirmed

          note left of draft : Italy TD24: may remain\ndraft up to 12 days
          note right of transmitted : TicketBAI/Verifactu:\ntransmitted = terminal success
      ```

      `delivered` and `accepted` are SDI-specific states. Italy routes invoices
      through SDI to the recipient, who has a 15-day acceptance window.
      TicketBAI and Verifactu have no recipient delivery step — transmitted = done.

      ### Document Types

      | `document_type` | Description | IT (FatturaPA) | ES (Verifactu/TBAI) |
      |----------------|-------------|---------------|---------------------|
      | `invoice` | Standard B2B invoice | TD01 | F1 |
      | `simplified_invoice` | B2C or low-value B2B | TD07 | F2 |
      | `credit_note` | Full or partial cancellation | TD04 | R1 |
      | `debit_note` | Additional charge on prior invoice | TD05 | — |
      | `deferred_invoice` | Italy: issued after delivery (up to 12 days) | TD24 | — |
      | `self_invoice` | Reverse charge scenarios | TD17 / TD18 / TD19 | — |

  - name: Fiscal Certificates
    description: |
      Signing certificates required for e-invoicing jurisdictions.

      TicketBAI, Verifactu, and SDI (via intermediary) all require a qualified
      certificate to sign fiscal documents. OpenFiskal acts as the signing
      intermediary — vendors provision certificates per organization and
      jurisdiction, and OpenFiskal handles signing, chain maintenance, and
      renewal reminders.

  - name: Fiscal Portal Credentials
    description: |
      Government portal credentials that OpenFiskal holds on behalf of the
      merchant and uses to authenticate to country-specific fiscal authority
      portals.

      Unlike signing certificates (which are cryptographic keys), portal
      credentials are username/password pairs for government web portals.
      OpenFiskal stores them encrypted and uses them only to submit fiscal
      data on the merchant's behalf.

      ### Jurisdiction coverage

      | Portal | Jurisdiction | Used for |
      |--------|-------------|----------|
      | `fisconline` | Italy (IT) | B2C commercial document transmission to AdE |
      | `entratel` | Italy (IT) | Corporate/accountant variant of Fisconline |
      | `finanz_online` | Austria (AT) | RKSV registration and transmission to BMF |

      Germany does not require portal credentials — the TSE device signs
      transactions locally and no government portal login is needed.

      ### Credential lifecycle

      Portal credentials expire periodically (Fisconline: every 60 days;
      FinanzOnline: annually). OpenFiskal tracks expiry and sends renewal
      reminders at 14 and 3 days before expiry. After expiry, fiscal
      transmission is blocked until credentials are rotated.

      Credential values are **write-only** — raw secrets are never returned
      after provisioning. Rotating credentials requires a `PATCH` with the
      new values.

      Certificates are scoped to an organization and a jurisdiction. An
      organization may hold certificates for multiple jurisdictions simultaneously.

paths:

  # ─────────────────────────────────────────────
  # AUTH
  # ─────────────────────────────────────────────

  /auth/bootstrap:
    post:
      tags: [Authentication]
      operationId: bootstrapPlatform
      summary: Exchange a setup token for a platform API key
      description: |
        One-time credential exchange. After signing a partnership agreement,
        OpenFiskal emails a setup token (`ofk_setup_...`) to the POS vendor's
        technical contact. POST it here to receive your first platform API key.

        This endpoint is unauthenticated — the setup token is the sole proof
        of identity. It can only be used once. After successful exchange, use
        the returned API key as a Bearer token on all subsequent requests.

        If the token has already been consumed or has expired, the endpoint
        returns `401`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapRequest'
      responses:
        '200':
          description: Platform API key issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        '401':
          description: Setup token is invalid, expired, or already consumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/api-keys:
    get:
      tags: [Authentication]
      operationId: listApiKeys
      summary: List platform API keys
      description: |
        Returns all active API keys for your platform account.
        Key values are masked — only the prefix and last four characters are shown.
      responses:
        '200':
          description: List of platform API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Authentication]
      operationId: createApiKey
      summary: Create a platform API key
      description: |
        Issue a new platform API key. Use this to rotate keys or issue
        separate keys per environment.

        The `api_key` value is returned only once at creation time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreate'
      responses:
        '201':
          description: Platform API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/api-keys/{keyId}:
    delete:
      tags: [Authentication]
      operationId: revokeApiKey
      summary: Revoke a platform API key
      description: |
        Permanently revokes a platform API key. Any request using the
        revoked key will immediately return `401`.

        Ensure a replacement key is active before revoking.
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: API key revoked
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # ORGANIZATIONS
  # ─────────────────────────────────────────────

  /organizations:
    get:
      tags: [Organizations]
      operationId: listOrganizations
      summary: List organizations
      description: |
        Returns all organizations under your platform account. Use this to
        enumerate the merchants you have onboarded.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated list of organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Organizations]
      operationId: createOrganization
      summary: Create an organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'

  /organizations/{organizationId}:
    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Retrieve an organization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Organization retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Organizations]
      operationId: updateOrganization
      summary: Update an organization
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'


  # ─────────────────────────────────────────────
  # LOCATIONS
  # ─────────────────────────────────────────────

  /organizations/{organizationId}/locations:
    post:
      tags: [Locations]
      operationId: createLocation
      summary: Create a location
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreate'
      responses:
        '201':
          description: Location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    get:
      tags: [Locations]
      operationId: listLocations
      summary: List locations
      parameters:
        - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: List of locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /locations/{locationId}:
    get:
      tags: [Locations]
      operationId: getLocation
      summary: Retrieve a location
      parameters:
        - $ref: '#/components/parameters/locationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Location retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Locations]
      operationId: updateLocation
      summary: Update a location
      parameters:
        - $ref: '#/components/parameters/locationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdate'
      responses:
        '200':
          description: Location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # REGISTERS
  # ─────────────────────────────────────────────

  /locations/{locationId}/registers:
    post:
      tags: [Registers]
      operationId: createRegister
      summary: Create a register
      description: |
        Creates a register in `active` state with no fiscal unit. The register
        is a POS device — it becomes fiscally operational once a fiscal unit
        is provisioned via `POST /registers/:id/fiscal-units`.

        The platform maintains the authoritative list of all open operations per register.
        If a register crashes and reconnects, it reconciles against this state.
      parameters:
        - $ref: '#/components/parameters/locationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCreate'
      responses:
        '201':
          description: Register created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    get:
      tags: [Registers]
      operationId: listRegisters
      summary: List registers at a location
      parameters:
        - $ref: '#/components/parameters/locationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: List of registers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /registers/{registerId}:
    get:
      tags: [Registers]
      operationId: getRegister
      summary: Retrieve a register
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Register retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
        '404':
          $ref: '#/components/responses/NotFound'

  /registers/{registerId}/activate:
    post:
      tags: [Registers]
      operationId: activateRegister
      summary: Activate a register
      deprecated: true
      description: |
        **Deprecated.** Use `POST /registers/:id/fiscal-units` instead.

        This endpoint is retained for backward compatibility. Under the hood it
        creates a fiscal unit for the register. New integrations should use
        the fiscal units API directly.

        Triggers jurisdiction-specific fiscal registration:
        - **Germany**: Initializes the TSE, establishes the signature chain
        - **Italy**: Activates the RT device with Agenzia delle Entrate
        - **Austria**: Establishes the RKSV signature chain, registers AES key

        Idempotent — calling on an already-active register returns the existing
        fiscal registration data.

        ### Register Credentials (Optional)

        Pass `issue_register_credential: true` to receive a register-scoped API
        key in the response. Use this for device-direct integrations (EV chargers,
        unattended kiosks). The key is returned **once only** — store it immediately
        and push to the device over a secure provisioning channel.

        Server-side platform integrations (Shopify-style) should omit this — the
        platform token already covers all register operations.

        See the Security Model section in the API overview for full guidance.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterActivationRequest'
      responses:
        '200':
          description: Register activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterActivationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /registers/{registerId}/deactivate:
    post:
      tags: [Registers]
      operationId: deactivateRegister
      summary: Archive a register
      description: |
        Archives a register and decommissions its active fiscal unit (if any).
        Triggers jurisdiction-specific fiscal deregistration. Cannot be undone.

        The register transitions to `archived` state. Any active register
        credential is automatically revoked. If the register has an active fiscal
        binding, it is decommissioned first.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Register deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /registers/{registerId}/credentials/rotate:
    post:
      tags: [Registers, Authentication]
      operationId: rotateRegisterCredential
      summary: Rotate a register credential
      description: |
        Immediately revokes the existing register API key and issues a new one.

        Use this when a device is compromised, replaced, or during routine rotation.
        The old key is invalidated the moment this endpoint is called — provision
        the new key to the device before the next operation attempt.

        A register credential must have been previously issued via
        `POST /registers/:id/activate` with `issue_register_credential: true`.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Credential rotated. New key returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterCredentialRotation'
        '409':
          description: No register credential has been issued for this register
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /registers/{registerId}/status:
    get:
      tags: [Registers]
      operationId: getRegisterStatus
      summary: Get register operational status
      description: |
        Returns liveness status derived from heartbeat activity, plus the
        platform's authoritative list of currently open operations.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Register status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /locations/{locationId}/registers/status:
    get:
      tags: [Registers]
      operationId: listRegisterStatuses
      summary: Get status for all registers at a location
      parameters:
        - $ref: '#/components/parameters/locationId'
      responses:
        '200':
          description: Register status overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStatusList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # FISCAL BINDINGS
  # ─────────────────────────────────────────────

  /registers/{registerId}/fiscal-units:
    post:
      tags: [Fiscal Units]
      operationId: createFiscalUnit
      summary: Create a fiscal unit
      description: |
        Provisions a new fiscal unit for the register, triggering
        jurisdiction-specific fiscal device initialization:
        - **Germany**: Initializes the TSE, establishes the signature chain
        - **Italy**: Activates the RT device with the Agenzia delle Entrate
        - **Austria**: Establishes the RKSV signature chain, registers AES key

        The register must not already have an active fiscal unit. To replace
        an existing binding, use `POST /registers/:id/fiscal-units/replace`.

        The binding starts in `provisioning` state and transitions to `active`
        once the fiscal device is initialized.

        ### Register Credentials (Optional)

        Pass `issue_register_credential: true` to receive a register-scoped API
        key in the response. Use this for device-direct integrations (EV chargers,
        unattended kiosks). The key is returned **once only** — store it immediately
        and push to the device over a secure provisioning channel.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalUnitCreate'
      responses:
        '201':
          description: Fiscal unit created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalUnitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Register already has an active fiscal unit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [Fiscal Units]
      operationId: listFiscalUnits
      summary: List fiscal unit history
      description: |
        Returns all fiscal units for a register, ordered by creation time
        (most recent first). Includes active, decommissioned, and error bindings.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: List of fiscal units
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalUnitList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /registers/{registerId}/fiscal-units/replace:
    post:
      tags: [Fiscal Units]
      operationId: replaceFiscalUnit
      summary: Replace the active fiscal unit
      description: |
        Atomically decommissions the current active fiscal unit and provisions
        a new one. The register ID stays the same — POS routing is unaffected.

        The old binding transitions to `decommissioned` (with `replaced_by` set),
        and the new binding is created with `replaces` referencing the old one.

        The register must have an active fiscal unit. All open operations must
        be completed or abandoned first.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalUnitReplace'
      responses:
        '200':
          description: Fiscal unit replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalUnitReplaceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: No active binding to replace, or open operations exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fiscal-units/{fiscalUnitId}:
    get:
      tags: [Fiscal Units]
      operationId: getFiscalUnit
      summary: Retrieve a fiscal unit
      parameters:
        - name: fiscalUnitId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Fiscal unit retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalUnit'
        '404':
          $ref: '#/components/responses/NotFound'

  /fiscal-units/{fiscalUnitId}/recover:
    post:
      tags: [Fiscal Units]
      operationId: recoverFiscalUnit
      summary: Recover a fiscal unit from error state
      description: |
        Attempts to recover a fiscal unit that is in `error` state.
        Re-initializes the connection to the fiscal device and, if successful,
        transitions the binding back to `active`.

        If the underlying device issue has not been resolved, the call will fail
        and the binding remains in `error`.
      parameters:
        - name: fiscalUnitId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Fiscal unit recovered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalUnit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Binding is not in error state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fiscal-units/{fiscalUnitId}/decommission:
    post:
      tags: [Fiscal Units]
      operationId: decommissionFiscalUnit
      summary: Decommission a fiscal unit
      description: |
        Permanently retires a fiscal unit and triggers jurisdiction-specific
        fiscal deregistration. Cannot be undone.

        All open operations on the register must be completed or abandoned first.
        The register's `active_fiscal_unit` becomes `null`.
      parameters:
        - name: fiscalUnitId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalUnitDecommission'
      responses:
        '200':
          description: Fiscal unit decommissioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalUnit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Open operations exist or binding already decommissioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────────
  # OPERATIONS (unified read surface)
  # ─────────────────────────────────────────────

  /registers/{registerId}/operations:
    get:
      tags: [Operations]
      operationId: listOperations
      summary: List all operations on a register
      description: |
        Unified chronological feed of all operation types on a register.
        Use this for audit logs, daily closing summaries, and replaying register history.

        Use the typed creation endpoints (POST /sales, POST /refunds, etc.) to
        create and manage individual operations.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/PosOperationType'
        - name: state
          in: query
          schema:
            $ref: '#/components/schemas/PosOperationState'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosOperationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /operations/{operationId}:
    get:
      tags: [Operations]
      operationId: getOperation
      summary: Retrieve any operation by ID
      description: |
        Returns the full operation object regardless of type. The `type` field
        identifies which operation type this is, and `data` contains type-specific fields.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Operation retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosOperation'
        '404':
          $ref: '#/components/responses/NotFound'

  /operations/{operationId}/receipt:
    get:
      tags: [Receipts]
      operationId: getReceipt
      summary: Retrieve a receipt
      description: |
        Returns the canonical OpenFiskal receipt for a completed operation.
        Self-contained and verifiable — all data needed to render, archive,
        or verify is present. No additional API calls required.

        Only available for operations in `completed` state.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Receipt retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Operation is not yet completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /operations/{operationId}/receipt.pdf:
    get:
      tags: [Receipts]
      operationId: getReceiptPdf
      summary: Download receipt as PDF
      description: |
        Rendered PDF of the fiscal receipt. Layout adapts to jurisdiction
        (e.g. TSE dual-signature block for Germany, RT footer for Italy).
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: PDF receipt
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /operations/{operationId}/receipt/send:
    post:
      tags: [Receipts]
      operationId: sendReceipt
      summary: Send receipt to customer
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptSendRequest'
      responses:
        '200':
          description: Receipt delivery initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptDelivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # SALES
  # ─────────────────────────────────────────────

  /registers/{registerId}/sales:
    get:
      tags: [Sales]
      operationId: listSales
      summary: List sales
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated list of sales
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOperationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Sales]
      operationId: startSale
      summary: Start a sale
      description: |
        Opens a new sale operation. This is a **fiscal event** — the platform
        records the start and, in jurisdictions that require it, signs it immediately.

        The response includes `fiscal.start_event` with the start-side signature and
        transaction counter. Store this — it must appear on the final receipt.

        Multiple sales can be open simultaneously on the same register (restaurant
        tables, fuel pumps, workshop bays). Each gets its own fiscally-signed start.

        ### Germany TSE Example

        **Request:**
        ```json
        {
          "external_id": "table-3-order-42",
          "cashier": { "id": "cashier_01", "display_name": "Maria R." }
        }
        ```

        **Response:**
        ```json
        {
          "id": "op_01HXYZ",
          "type": "sale",
          "state": "open",
          "started_at": "2026-02-25T19:02:11Z",
          "fiscal": {
            "regime": "tse",
            "tse_serial": "abc123def456",
            "client_id": "Kasse1",
            "start_event": {
              "signed_at": "2026-02-25T19:02:11Z",
              "transaction_counter": 4821,
              "signature": "base64encodedStartSignature=="
            },
            "end_event": null
          }
        }
        ```
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleStart'
      responses:
        '201':
          description: Sale started and fiscally opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /sales/{operationId}:
    get:
      tags: [Sales]
      operationId: getSale
      summary: Retrieve a sale
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Sale retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOperation'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Sales]
      operationId: updateSale
      summary: Update an open sale
      description: |
        Mutate an open sale — add or remove line items, update quantities,
        apply discounts, attach customer data.

        **Not a fiscal event.** No signature is generated. Mutations are free
        and reversible until `complete` is called.

        Only available for sales in `open` state.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleUpdate'
      responses:
        '200':
          description: Sale updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOperation'
        '409':
          description: Sale is not in `open` state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sales/{operationId}/complete:
    post:
      tags: [Sales]
      operationId: completeSale
      summary: Complete a sale
      description: |
        Finalizes the sale. This is a **fiscal event** — the platform signs the end,
        generates the fiscal document, and (where required) transmits to the
        tax authority.

        The response includes the fully-formed operation with `fiscal.end_event` populated.
        The receipt is now available at `GET /operations/:id/receipt`.

        ### Germany TSE Example

        After completion, `fiscal` contains both the start and end signatures,
        as required by KassenSichV. Both must be printed on the receipt.

        ```json
        "fiscal": {
          "regime": "tse",
          "document_number": "2026-004822",
          "document_type": "Kassenbeleg",
          "transmission_status": "not_required",
          "tse_serial": "TSE0123456789ABCDEF",
          "client_id": "Kasse1",
          "signature_algorithm": "ecdsa-plain-SHA384",
          "time_format": "utcTime",
          "start_event": {
            "signed_at": "2026-02-25T19:02:11Z",
            "transaction_counter": 4821,
            "signature": "base64encodedStartSignature=="
          },
          "end_event": {
            "signed_at": "2026-02-25T20:14:55Z",
            "transaction_counter": 4822,
            "signature": "base64encodedEndSignature==",
            "process_type": "Kassenbeleg-V1",
            "process_data": "Beleg^42.50_0.00_0.00_0.00_0.00^42.50:Bar"
          },
          "verification": {
            "qr_data": "V0;Kasse1;ecdsa-plain-SHA384;2026-02-25T19:02:11;2026-02-25T20:14:55;42.50;4822;base64encodedEndSignature=="
          }
        }
        ```

        The `qr_data` value follows the DSFinV-K QR format and is printed verbatim
        on the receipt.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleComplete'
      responses:
        '200':
          description: Sale completed and fiscalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOperation'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /sales/{operationId}/abandon:
    post:
      tags: [Sales]
      operationId: abandonSale
      summary: Abandon a sale
      description: |
        Explicitly closes an open sale without completing it. No fiscal document
        is generated, but the abandonment is recorded. In Germany, the open TSE
        transaction is properly closed to maintain chain integrity.

        Use this when a customer walks away, a table is cleared, or a transaction
        is cancelled before payment.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandonRequest'
      responses:
        '200':
          description: Sale abandoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────
  # REFUNDS
  # ─────────────────────────────────────────────

  /registers/{registerId}/refunds:
    post:
      tags: [Refunds]
      operationId: startRefund
      summary: Start a refund
      description: |
        Opens a refund operation. Must reference the original operation via
        `original_operation_id`. The original fiscal document number will be
        included in the refund's fiscal output.

        Supports both full and partial refunds. For partial refunds, specify
        the returned items via `PATCH /refunds/:id` before completing.

        Like all operations, the start is a fiscal event in jurisdictions that require it.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundStart'
      responses:
        '201':
          description: Refund started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOperation'
        '400':
          $ref: '#/components/responses/BadRequest'

  /refunds/{operationId}:
    get:
      tags: [Refunds]
      operationId: getRefund
      summary: Retrieve a refund
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Refund retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Refunds]
      operationId: updateRefund
      summary: Update an open refund
      description: |
        Set the line items being returned. For full refunds this is optional —
        all original items will be refunded if omitted.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundUpdate'
      responses:
        '200':
          description: Refund updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /refunds/{operationId}/complete:
    post:
      tags: [Refunds]
      operationId: completeRefund
      summary: Complete a refund
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundComplete'
      responses:
        '200':
          description: Refund completed and fiscalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /refunds/{operationId}/abandon:
    post:
      tags: [Refunds]
      operationId: abandonRefund
      summary: Abandon a refund
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Refund abandoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'


  # ─────────────────────────────────────────────
  # EXCHANGES
  # ─────────────────────────────────────────────

  /registers/{registerId}/exchanges:
    post:
      tags: [Exchanges]
      operationId: startExchange
      summary: Start an exchange
      description: |
        Opens a new exchange operation. An exchange is an atomic return + new sale
        that references the original operation. Returned items and new items are
        tracked separately in `returned_line_items` and `new_line_items`. Payments
        settle the net difference. A single fiscal document covers the exchange.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeStart'
      responses:
        '201':
          description: Exchange started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /exchanges/{operationId}:
    get:
      tags: [Exchanges]
      operationId: getExchange
      summary: Retrieve an exchange
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Exchange retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Exchanges]
      operationId: updateExchange
      summary: Update an open exchange
      description: |
        Mutate an open exchange — set returned items, new items, notes, or metadata.
        Not a fiscal event. Only available for exchanges in `open` state.
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeUpdate'
      responses:
        '200':
          description: Exchange updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /exchanges/{operationId}/complete:
    post:
      tags: [Exchanges]
      operationId: completeExchange
      summary: Complete an exchange
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeComplete'
      responses:
        '200':
          description: Exchange completed and fiscalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /exchanges/{operationId}/abandon:
    post:
      tags: [Exchanges]
      operationId: abandonExchange
      summary: Abandon an exchange
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandonRequest'
      responses:
        '200':
          description: Exchange abandoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────
  # DEPOSITS
  # ─────────────────────────────────────────────

  /registers/{registerId}/deposits:
    post:
      tags: [Deposits]
      operationId: startDeposit
      summary: Start a deposit
      description: |
        Opens a new deposit (prepayment or reservation) operation. The deposit
        amount is collected upfront and can later be captured via a deposit capture.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositStart'
      responses:
        '201':
          description: Deposit started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /deposits/{operationId}:
    get:
      tags: [Deposits]
      operationId: getDeposit
      summary: Retrieve a deposit
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Deposit retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /deposits/{operationId}/complete:
    post:
      tags: [Deposits]
      operationId: completeDeposit
      summary: Complete a deposit
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositComplete'
      responses:
        '200':
          description: Deposit completed and fiscalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /deposits/{operationId}/abandon:
    post:
      tags: [Deposits]
      operationId: abandonDeposit
      summary: Abandon a deposit
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandonRequest'
      responses:
        '200':
          description: Deposit abandoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────
  # DEPOSIT CAPTURES
  # ─────────────────────────────────────────────

  /registers/{registerId}/deposit-captures:
    post:
      tags: [Deposit Captures]
      operationId: startDepositCapture
      summary: Start a deposit capture
      description: |
        Opens a deposit capture operation that finalizes a prior deposit. References
        the original deposit operation and settles the remaining balance.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositCaptureStart'
      responses:
        '201':
          description: Deposit capture started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositCaptureOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /deposit-captures/{operationId}:
    get:
      tags: [Deposit Captures]
      operationId: getDepositCapture
      summary: Retrieve a deposit capture
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Deposit capture retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositCaptureOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /deposit-captures/{operationId}/complete:
    post:
      tags: [Deposit Captures]
      operationId: completeDepositCapture
      summary: Complete a deposit capture
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositCaptureComplete'
      responses:
        '200':
          description: Deposit capture completed and fiscalized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositCaptureOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /deposit-captures/{operationId}/abandon:
    post:
      tags: [Deposit Captures]
      operationId: abandonDepositCapture
      summary: Abandon a deposit capture
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandonRequest'
      responses:
        '200':
          description: Deposit capture abandoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositCaptureOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────
  # TRAINING
  # ─────────────────────────────────────────────

  /registers/{registerId}/training:
    post:
      tags: [Training]
      operationId: startTraining
      summary: Start a training operation
      description: |
        Opens a non-fiscal training operation for staff practice. Training
        operations follow the same lifecycle as real operations but do not
        generate fiscal documents or signatures.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingStart'
      responses:
        '201':
          description: Training operation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /training/{operationId}:
    get:
      tags: [Training]
      operationId: getTraining
      summary: Retrieve a training operation
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Training operation retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /training/{operationId}/complete:
    post:
      tags: [Training]
      operationId: completeTraining
      summary: Complete a training operation
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingComplete'
      responses:
        '200':
          description: Training operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /training/{operationId}/abandon:
    post:
      tags: [Training]
      operationId: abandonTraining
      summary: Abandon a training operation
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandonRequest'
      responses:
        '200':
          description: Training operation abandoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────
  # VOIDS
  # ─────────────────────────────────────────────

  /registers/{registerId}/voids:
    post:
      tags: [Voids]
      operationId: createVoid
      summary: Void a completed operation
      description: |
        Cancellation of a completed operation. Produces a fiscal reversal document
        and transitions the original operation to `voided`.

        - **Germany**: Storno-Buchung against the original TSE record
        - **Italy**: Documento di annullamento — before chiusura giornaliera
        - **Austria**: Reversal recorded in the RKSV signature chain

        Only permitted before the daily closing has been triggered for the period
        containing the original operation. After closing, use a refund instead.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidCreate'
      responses:
        '201':
          description: Void created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidOperation'
        '409':
          $ref: '#/components/responses/Conflict'

  /voids/{operationId}:
    get:
      tags: [Voids]
      operationId: getVoid
      summary: Retrieve a void
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Void retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # CASH MOVEMENTS
  # ─────────────────────────────────────────────

  /registers/{registerId}/cash-movements:
    post:
      tags: [Cash Movements]
      operationId: createCashMovement
      summary: Record a cash movement
      description: |
        Records a cash-in or cash-out event. Not a sale — no line items, no receipt.

        Must be logged in Germany (KassenSichV — all cash drawer events must be
        recorded in the TSE) and Austria (RKSV).

        Common use cases: opening float, banking cash, safe drops, petty cash payouts.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashMovementCreate'
      responses:
        '201':
          description: Cash movement recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashMovementOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /cash-movements/{operationId}:
    get:
      tags: [Cash Movements]
      operationId: getCashMovement
      summary: Retrieve a cash movement
      parameters:
        - $ref: '#/components/parameters/operationId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Cash movement retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashMovementOperation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # CLOSINGS
  # ─────────────────────────────────────────────

  /registers/{registerId}/closings:
    post:
      tags: [Closings]
      operationId: createClosing
      summary: Trigger a closing
      description: |
        Triggers an end-of-day or shift closing. Closings are first-class fiscal
        events — not just summary reports.

        - **Italy**: `chiusura giornaliera` — required daily, transmitted to RT
        - **Germany**: `Tagesabschluss` — required for DSFinV-K compliance
        - **Austria**: Required for RKSV monthly and annual reports

        All open operations must be completed or abandoned before a daily closing
        can be triggered.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosingRequest'
      responses:
        '201':
          description: Closing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closing'
        '409':
          description: Open operations exist or closing already performed today
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [Closings]
      operationId: listClosings
      summary: List closings
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - name: state
          in: query
          schema:
            type: string
            enum: [pending, completed, transmitted, failed]
          description: Filter by closing state. Use `failed` to surface closings needing attention.
        - name: type
          in: query
          schema:
            type: string
            enum: [daily, shift, monthly, annual]
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: List of closings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosingList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /closings/{closingId}:
    get:
      tags: [Closings]
      operationId: getClosing
      summary: Retrieve a closing
      parameters:
        - $ref: '#/components/parameters/closingId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Closing retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /closings/{closingId}/report.pdf:
    get:
      tags: [Closings]
      operationId: getClosingReportPdf
      summary: Download closing report as PDF
      parameters:
        - $ref: '#/components/parameters/closingId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: PDF closing report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # HEARTBEAT
  # ─────────────────────────────────────────────

  /registers/{registerId}/heartbeat:
    post:
      tags: [Heartbeat]
      operationId: sendHeartbeat
      summary: Send a register heartbeat
      description: |
        Pure liveness ping. The register calls this on a regular schedule
        (every 30–60 seconds). OpenFiskal derives the register's operational
        status from heartbeat recency and the reported `status` field.

        The response carries `server_time` so the register can detect local
        clock drift — accurate timestamps are a fiscal requirement in many
        jurisdictions.

        Register devices authenticate using `X-Register-Api-Key` rather than
        a full OAuth token, suitable for resource-constrained hardware.
      parameters:
        - $ref: '#/components/parameters/registerId'
      security:
        - BearerAuth: []
        - RegisterApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeartbeatRequest'
      responses:
        '200':
          description: Heartbeat acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartbeatResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # CASH DRAWER OPENINGS
  # ─────────────────────────────────────────────

  /registers/{registerId}/cash-drawer-openings:
    post:
      tags: [Cash Drawer Openings]
      operationId: createCashDrawerOpening
      summary: Log a cash drawer opening
      description: |
        Called by the register the moment the cash drawer opens. Must be
        logged immediately — not batched or deferred — because the timestamp
        is fiscally significant.

        An opening can be linked to a POS operation (e.g. the drawer opened
        at the end of a sale) or be standalone (e.g. a manager opened the
        drawer to check the float). Both are valid and both must be logged.

        Register devices authenticate using `X-Register-Api-Key`.
      parameters:
        - $ref: '#/components/parameters/registerId'
      security:
        - BearerAuth: []
        - RegisterApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashDrawerOpeningCreate'
      responses:
        '201':
          description: Cash drawer opening logged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashDrawerOpening'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    get:
      tags: [Cash Drawer Openings]
      operationId: listCashDrawerOpenings
      summary: List cash drawer openings
      description: |
        Returns all logged cash drawer openings for a register, ordered
        newest-first. Used for audit reports and reconciliation.
      parameters:
        - $ref: '#/components/parameters/registerId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Paginated list of cash drawer openings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashDrawerOpeningList'
        '404':
          $ref: '#/components/responses/NotFound'

  /cash-drawer-openings/{cashDrawerOpeningId}:
    get:
      tags: [Cash Drawer Openings]
      operationId: getCashDrawerOpening
      summary: Retrieve a cash drawer opening
      parameters:
        - name: cashDrawerOpeningId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Cash drawer opening
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashDrawerOpening'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # VERIFICATION (public)
  # ─────────────────────────────────────────────

  /verify/{fiscalDocumentCode}:
    get:
      tags: [Verification]
      operationId: verifyReceipt
      summary: Verify a receipt
      description: |
        Public endpoint — no authentication required. Verifies the authenticity
        of a fiscal document by its code (printed on the receipt or encoded in
        the QR code).

        Safe to expose publicly and link from QR codes on receipts.
      security: []
      parameters:
        - name: fiscalDocumentCode
          in: path
          required: true
          schema:
            type: string
          example: DE-2026-004822
      responses:
        '200':
          description: Receipt verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '404':
          description: Receipt not found or code invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────────
  # E-INVOICING
  # ─────────────────────────────────────────────

  /invoices:
    post:
      tags: [E-Invoicing]
      operationId: createInvoice
      summary: Create an invoice
      description: |
        Creates and submits an electronic invoice through the appropriate
        national authority for the organization's jurisdiction.

        The submission is synchronous where the authority allows it (TicketBAI,
        Verifactu). For SDI (Italy), the invoice is submitted and `state` moves
        to `transmitted` once SDI acknowledges receipt — delivery to the
        recipient is tracked separately via `delivery_status`.

        ### Draft mode

        Pass `submit: false` to create the invoice in `draft` status without
        submitting. Useful for Italy's deferred invoicing window (TD24 invoices
        may be issued up to 12 days after delivery of goods/services). Call
        `POST /invoices/:id/submit` when ready.

        ### Linking to a POS operation

        To link this invoice to a POS sale (e.g. customer requests a fattura
        at a physical POS), pass `references.operation_id`. The sale record
        will be updated to carry `references.invoice_id` in return.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreate'
      parameters:
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: "Invoice created (and submitted unless `submit: false`)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: |
            Invoice failed authority validation. Check `fiscal_errors` for
            the authority's rejection reason and code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [E-Invoicing]
      operationId: listInvoices
      summary: List invoices
      parameters:
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - name: organization_id
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            $ref: '#/components/schemas/InvoiceState'
        - name: document_type
          in: query
          schema:
            $ref: '#/components/schemas/InvoiceDocumentType'
        - name: jurisdiction
          in: query
          schema:
            type: string
            example: IT
        - name: buyer_tax_id
          in: query
          schema:
            type: string
          description: Filter by buyer tax identifier
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated list of invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /invoices/{invoiceId}:
    get:
      tags: [E-Invoicing]
      operationId: getInvoice
      summary: Retrieve an invoice
      description: |
        Returns the full invoice with current transmission and delivery status.
        Poll this endpoint to track SDI delivery progress, or use webhooks
        (when available) for push notifications on status changes.
      parameters:
        - $ref: '#/components/parameters/invoiceId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
      responses:
        '200':
          description: Invoice retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{invoiceId}/submit:
    post:
      tags: [E-Invoicing]
      operationId: submitInvoice
      summary: Submit a draft invoice
      description: |
        Submits a `draft` invoice to the national authority. Once submitted,
        the invoice is immutable — corrections require a credit note.

        Only valid for invoices in `draft` state.
      parameters:
        - $ref: '#/components/parameters/invoiceId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Invoice submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '409':
          description: Invoice is not in `draft` state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Authority rejected the submission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /invoices/{invoiceId}/cancel:
    post:
      tags: [E-Invoicing]
      operationId: cancelInvoice
      summary: Cancel an invoice
      description: |
        Cancels a transmitted invoice by issuing the appropriate corrective
        document for the jurisdiction:

        - **Italy (SDI)**: Issues a TD04 credit note covering the full original
          invoice amount. The credit note is submitted through SDI and linked
          to the original.
        - **TicketBAI**: Issues an annulment record (`AnulaTicketBAI`) signed
          and transmitted to the Hacienda.
        - **Verifactu**: Issues a `R1` rectificative record.

        The original invoice status moves to `cancellation_requested` until
        the authority acknowledges, then to `cancelled`.

        For **partial** corrections, use `POST /invoices` with
        `document_type: credit_note` and `references.original_invoice_id`.
        This gives you full control over the corrected amounts.
      parameters:
        - $ref: '#/components/parameters/invoiceId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCancellationRequest'
      responses:
        '200':
          description: Cancellation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '409':
          description: Invoice cannot be cancelled in its current state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /invoices/{invoiceId}/document:
    get:
      tags: [E-Invoicing]
      operationId: getInvoiceDocument
      summary: Download the signed invoice document
      description: |
        Returns the canonical signed document as submitted to the authority.
        Format varies by jurisdiction:

        - **Italy**: FatturaPA XML (UTF-8, validated against the official XSD)
        - **TicketBAI**: TicketBAI XML signed with XAdES-EPES
        - **Verifactu**: Verifactu XML

        The response `Content-Type` reflects the format. The document is the
        exact bytes transmitted — not regenerated. Store it for your own records.
      parameters:
        - $ref: '#/components/parameters/invoiceId'
        - $ref: '#/components/parameters/OpenFiskalOrganization'
        - name: format
          in: query
          schema:
            type: string
            enum: [xml, pdf]
            default: xml
          description: |
            `xml` returns the signed fiscal document.
            `pdf` returns a human-readable representation (not the fiscal document —
            the XML is the legally binding record).
      responses:
        '200':
          description: Invoice document
          content:
            application/xml:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Invoice has not been submitted yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────────
  # FISCAL CERTIFICATES
  # ─────────────────────────────────────────────

  /organizations/{organizationId}/fiscal-certificates:
    post:
      tags: [Fiscal Certificates]
      operationId: createFiscalCertificate
      summary: Provision a fiscal signing certificate
      description: |
        Provisions a qualified signing certificate for an organization and
        jurisdiction. OpenFiskal uses this certificate to sign all fiscal
        documents on the organization's behalf.

        The certificate must be obtained from the relevant authority before
        provisioning:
        - **Italy (SDI)**: Qualified certificate from an accredited CA, or
          delegate signing to OpenFiskal directly via an intermediary agreement
        - **TicketBAI**: Certificate issued by the relevant Hacienda Foral
          (one per province — Álava, Gipuzkoa, Bizkaia each require separate
          certificates)
        - **Verifactu**: Qualified certificate from an accredited Spanish CA

        Upload the certificate as a base64-encoded PKCS#12 bundle with its
        private key. OpenFiskal stores it encrypted and uses it only for
        document signing.

        ### Certificate Lifecycle

        OpenFiskal monitors certificate expiry and sends renewal reminders
        at 60, 30, and 7 days before expiry. After expiry, document submission
        is blocked until a replacement is provisioned.
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiscalCertificateCreate'
      responses:
        '201':
          description: Certificate provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: An active certificate already exists for this jurisdiction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [Fiscal Certificates]
      operationId: listFiscalCertificates
      summary: List fiscal certificates
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - name: jurisdiction
          in: query
          schema:
            type: string
          description: Filter by jurisdiction code
      responses:
        '200':
          description: List of fiscal certificates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalCertificateList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{organizationId}/fiscal-certificates/{certificateId}:
    get:
      tags: [Fiscal Certificates]
      operationId: getFiscalCertificate
      summary: Retrieve a fiscal certificate
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/certificateId'
      responses:
        '200':
          description: Certificate retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalCertificate'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Fiscal Certificates]
      operationId: revokeFiscalCertificate
      summary: Revoke a fiscal certificate
      description: |
        Permanently revokes a certificate and removes it from OpenFiskal's
        signing infrastructure. Any subsequent document submission for this
        jurisdiction will fail until a replacement is provisioned.

[...]
