openapi: 3.1.0
info:
  title: OpenFiskal fiscalization API
  version: 1.1.0
  license:
    name: Proprietary
  description: |
    OpenFiskal exposes a server-to-server fiscalization API for merchant onboarding,
    register setup, operation handling, and exports.

    The `v1` contract uses server-issued resource versions and conditional
    writes through `If-Match` for safe concurrent mutation handling.
servers:
  - url: https://api.openfiskal.com/v1
    description: Production
  - url: https://sandbox.api.openfiskal.com/v1
    description: Sandbox
tags:
  - name: Organizations
    description: Create and manage merchant organizations.
  - name: Locations
    description: Create and manage merchant locations.
  - name: Registers
    description: Create and manage registers or terminals.
  - name: Operations
    description: Start, update, complete, cancel, list, and read operations.
  - name: Exports
    description: Create and inspect asynchronous export jobs.
paths:
  /organizations:
    get:
      tags: [Organizations]
      summary: List organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Organizations returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Organizations]
      summary: Create organization
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
      responses:
        '201':
          description: Organization created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /organizations/{organizationId}:
    get:
      tags: [Organizations]
      summary: Get organization
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Organization returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Organizations]
      summary: Update organization
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          description: Organization updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /locations:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Locations]
      summary: List locations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Locations returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Locations]
      summary: Create location
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
      responses:
        '201':
          description: Location created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /locations/{locationId}:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Locations]
      summary: Get location
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Location returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Locations]
      summary: Update location
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
      responses:
        '200':
          description: Location updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags: [Locations]
      summary: Delete location
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      responses:
        '204':
          description: Location deleted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /registers:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Registers]
      summary: List registers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Registers returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Registers]
      summary: Create register
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCreateRequest'
      responses:
        '201':
          description: Register created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /registers/{registerId}:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Registers]
      summary: Get register
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      responses:
        '200':
          description: Register returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Registers]
      summary: Update register
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUpdateRequest'
      responses:
        '200':
          description: Register updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags: [Registers]
      summary: Delete register
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegisterId'
      responses:
        '204':
          description: Register deleted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /operations:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Operations]
      summary: List operations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OperationStatus'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/OperationType'
        - name: external_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Operations returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Operations]
      summary: Create operation
      description: Starts a new operation. 
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationCreateRequest'
      responses:
        '201':
          description: Operation created
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'

  /operations/{operationId}:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Operations]
      summary: Get operation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
      responses:
        '200':
          description: Operation returned
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Operations]
      summary: Update operation
      description: |
        Updates a mutable operation by using a server-issued `ETag` in `If-Match`.

        Conditional write flow:

        1. Read or create the operation.
        2. Persist the returned `resource_version` and `ETag`.
        3. Send that `ETag` value in `If-Match` on the next update request.
        4. Replace your stored value with the new `resource_version` and `ETag` from every successful mutation response.

        The server issues a new operation resource version on every successful mutation. The response body returns that value as `resource_version`, and the response header returns the same value as `ETag`.

        If you omit `If-Match`, the API returns `428 precondition_required`. If you send a stale value, the API returns `412 precondition_failed`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationPatchRequest'
      responses:
        '200':
          description: Operation updated
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '428':
          $ref: '#/components/responses/PreconditionRequired'

  /operations/{operationId}/complete:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    patch:
      tags: [Operations]
      summary: Complete operation
      description: Finalizes an operation and attaches the typed payment contract used for fiscalization and reconciliation.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IfMatch'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationCompleteRequest'
      responses:
        '200':
          description: Operation completed
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '428':
          $ref: '#/components/responses/PreconditionRequired'

  /operations/{operationId}/cancel:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    patch:
      tags: [Operations]
      summary: Cancel operation
      description: Cancels an operation before completion. Use a refund operation after completion.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IfMatch'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationCancelRequest'
      responses:
        '200':
          description: Operation cancelled
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '428':
          $ref: '#/components/responses/PreconditionRequired'

  /exports:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Exports]
      summary: List export jobs
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Export jobs returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExportJob'
                  next_cursor:
                    type: string
                    nullable: true
    post:
      tags: [Exports]
      summary: Create export job
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportCreateRequest'
      responses:
        '202':
          description: Export job created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'

  /exports/{exportId}:
    parameters:
      - $ref: '#/components/parameters/OrganizationHeader'
    get:
      tags: [Exports]
      summary: Get export job
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ExportId'
      responses:
        '200':
          description: Export job returned
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  headers:
    ETag:
      description: Server-issued operation resource version. A new value is returned on every successful operation mutation and must be sent back in `If-Match` on the next mutation.
      schema:
        type: string
        example: '"opv_01JXYZ"'
    XRequestId:
      description: Stable request trace identifier.
      schema:
        type: string
        example: req_01JABCXYZ
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    OrganizationHeader:
      name: X-OpenFiskal-Organization
      in: header
      required: true
      schema:
        type: string
      description: Organization identifier returned by the organizations resource.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
      description: Unique key per endpoint, organization, and tenant. Retained for at least 24 hours.
    IfMatch:
      name: If-Match
      in: header
      required: true
      schema:
        type: string
      description: Latest operation `ETag` returned by OpenFiskal. Replace it after every successful mutation.
    OrganizationId:
      name: organizationId
      in: path
      required: true
      schema:
        type: string
    LocationId:
      name: locationId
      in: path
      required: true
      schema:
        type: string
    RegisterId:
      name: registerId
      in: path
      required: true
      schema:
        type: string
    OperationId:
      name: operationId
      in: path
      required: true
      schema:
        type: string
    ExportId:
      name: exportId
      in: path
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid request
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: invalid_request
            message: The request body is malformed.
            retryable: false
    Unauthorized:
      description: Authentication failed
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: unauthorized
            message: Authentication failed.
            retryable: false
    Forbidden:
      description: Authenticated caller is not allowed to access the requested tenant, country, or organization.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: forbidden
            message: The authenticated caller cannot access this resource.
            retryable: false
    NotFound:
      description: Resource not found
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: not_found
            message: The requested resource does not exist.
            retryable: false
    UnprocessableEntity:
      description: Domain validation failed
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: regime_validation_failed
            message: The payload violates regime-specific validation rules.
            retryable: false
    RateLimited:
      description: Rate limit exceeded
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rate_limit_exceeded
            message: Too many requests.
            retryable: true
    IdempotencyConflict:
      description: Idempotency key reused with a different payload
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: idempotency_key_conflict
            message: The idempotency key was already used with a different payload.
            retryable: false
    PreconditionRequired:
      description: Missing `If-Match` header
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: precondition_required
            message: This operation requires an If-Match header.
            retryable: false
    PreconditionFailed:
      description: Stale `If-Match` header
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: precondition_failed
            message: The supplied If-Match value is stale.
            retryable: true
            details:
              current_resource_version: opv_01JXYZNEW
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
      required: [code, message, retryable]
    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
          nullable: true
        city:
          type: string
        postal_code:
          type: string
        country_code:
          type: string
          description: ISO 3166-1 alpha-3 country code.
          minLength: 3
          maxLength: 3
          example: DEU
      required: [line1, city, postal_code, country_code]
    Organization:
      type: object
      properties:
        id:
          type: string
        legal_name:
          type: string
        country_code:
          type: string
          description: ISO 3166-1 alpha-3 country code for the legal entity.
          minLength: 3
          maxLength: 3
          example: DEU
        tax_id:
          type: string
        status:
          type: string
          enum: [active, inactive]
        address:
          $ref: '#/components/schemas/Address'
        capabilities:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, legal_name, country_code, tax_id, status, address, created_at, updated_at]
    OrganizationCreateRequest:
      type: object
      properties:
        legal_name:
          type: string
        country_code:
          type: string
          description: ISO 3166-1 alpha-3 country code for the legal entity.
          minLength: 3
          maxLength: 3
          example: DEU
        tax_id:
          type: string
        address:
          $ref: '#/components/schemas/Address'
      required: [legal_name, country_code, tax_id, address]
    OrganizationUpdateRequest:
      type: object
      properties:
        legal_name:
          type: string
        tax_id:
          type: string
        status:
          type: string
          enum: [active, inactive]
        address:
          $ref: '#/components/schemas/Address'
    OrganizationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
        next_cursor:
          type: string
          nullable: true
      required: [data]
    Location:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        name:
          type: string
        external_id:
          type: string
          nullable: true
        timezone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        created_at:
          type: string
          format: date-time
      required: [id, organization_id, name, timezone, address, created_at]
    LocationCreateRequest:
      type: object
      properties:
        name:
          type: string
        external_id:
          type: string
        timezone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
      required: [name, timezone, address]
    LocationUpdateRequest:
      type: object
      properties:
        name:
          type: string
        external_id:
          type: string
        timezone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
    LocationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        next_cursor:
          type: string
          nullable: true
      required: [data]
    Register:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        location_id:
          type: string
        name:
          type: string
        external_id:
          type: string
        status:
          type: string
          enum: [active, inactive]
        created_at:
          type: string
          format: date-time
      required: [id, organization_id, location_id, name, external_id, status, created_at]
    RegisterCreateRequest:
      type: object
      properties:
        location_id:
          type: string
        name:
          type: string
        external_id:
          type: string
      required: [location_id, name, external_id]
    RegisterUpdateRequest:
      type: object
      properties:
        location_id:
          type: string
        name:
          type: string
        external_id:
          type: string
        status:
          type: string
          enum: [active, inactive]
    RegisterListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Register'
        next_cursor:
          type: string
          nullable: true
      required: [data]
    OperationSource:
      type: string
      enum: [POS, ONLINE]
    OperationType:
      type: string
      enum: [sale, refund, exchange, custom]
    OperationStatus:
      type: string
      enum: [open, pending_payment, completed, cancelled]
    PaymentMethod:
      type: string
      enum: [cash, card, voucher, gift_card, bank_transfer, digital_wallet, store_credit, other]
    PaymentStatus:
      type: string
      enum: [pending, authorized, partially_approved, captured, failed, voided, refunded]
    LineItemInput:
      type: object
      properties:
        name:
          type: string
        sku:
          type: string
          nullable: true
        quantity:
          type: number
        unit_price:
          type: integer
        total_amount:
          type: integer
        tax_code:
          type: string
          nullable: true
      required: [name, quantity, unit_price, total_amount]
    LineItem:
      allOf:
        - $ref: '#/components/schemas/LineItemInput'
        - type: object
          properties:
            id:
              type: string
    Totals:
      type: object
      properties:
        subtotal_amount:
          type: integer
        tip_amount:
          type: integer
        tax_amount:
          type: integer
        total_amount:
          type: integer
      required: [total_amount]
    PaymentInput:
      type: object
      properties:
        payment_id:
          type: string
        method:
          $ref: '#/components/schemas/PaymentMethod'
        status:
          $ref: '#/components/schemas/PaymentStatus'
        amount:
          type: integer
        currency:
          type: string
        requested_amount:
          type: integer
          nullable: true
        approved_amount:
          type: integer
          nullable: true
        processor:
          type: string
          nullable: true
        processor_reference:
          type: string
          nullable: true
        related_payment_id:
          type: string
          nullable: true
        card_brand:
          type: string
          nullable: true
        processed_at:
          type: string
          format: date-time
          nullable: true
      required: [payment_id, method, status, amount, currency]
    Payment:
      allOf:
        - $ref: '#/components/schemas/PaymentInput'
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
    OperationBase:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OperationStatus'
        currency:
          type: string
        amount:
          type: integer
        tip_amount:
          type: integer
          default: 0
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItemInput'
        related_operation_id:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
      required: [currency, amount]
    SaleOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          title: SaleOperation
          properties:
            type:
              type: string
              const: sale
            line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItemInput'
          required: [type]
    RefundOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          title: RefundOperation
          properties:
            type:
              type: string
              const: refund
            related_operation_id:
              type: string
              nullable: true
            line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItemInput'
          required: [type]
    ExchangeOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          title: ExchangeOperation
          properties:
            type:
              type: string
              const: exchange
            related_operation_id:
              type: string
              nullable: true
            returned_line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItemInput'
            new_line_items:
              type: array
              items:
                $ref: '#/components/schemas/LineItemInput'
          required: [type]
    CustomOperation:
      allOf:
        - $ref: '#/components/schemas/OperationBase'
        - type: object
          title: CustomOperation
          properties:
            type:
              type: string
              const: custom
            name:
              type: string
          required: [type, name]
    OperationData:
      oneOf:
        - $ref: '#/components/schemas/SaleOperation'
        - $ref: '#/components/schemas/RefundOperation'
        - $ref: '#/components/schemas/ExchangeOperation'
        - $ref: '#/components/schemas/CustomOperation'
      discriminator:
        propertyName: type
        mapping:
          sale: '#/components/schemas/SaleOperation'
          refund: '#/components/schemas/RefundOperation'
          exchange: '#/components/schemas/ExchangeOperation'
          custom: '#/components/schemas/CustomOperation'
    FiscalInformation:
      oneOf:
        - $ref: '#/components/schemas/FiscalInformationKassenSichV'
        - $ref: '#/components/schemas/FiscalInformationRKSV'
        - $ref: '#/components/schemas/FiscalInformationRT'
      discriminator:
        propertyName: regime
        mapping:
          KassenSichV: '#/components/schemas/FiscalInformationKassenSichV'
          RKSV: '#/components/schemas/FiscalInformationRKSV'
          RT: '#/components/schemas/FiscalInformationRT'
    FiscalInformationKassenSichV:
      type: object
      title: FiscalInformationKassenSichV
      properties:
        regime:
          type: string
          const: KassenSichV
        document_number:
          type: string
        document_type:
          type: string
        tse_serial:
          type: string
        client_id:
          type: string
        signature_algorithm:
          type: string
        time_format:
          type: string
        start_event:
          $ref: '#/components/schemas/FiscalInformationKassenSichVStartEvent'
        end_event:
          $ref: '#/components/schemas/FiscalInformationKassenSichVEndEvent'
        verification:
          $ref: '#/components/schemas/FiscalInformationKassenSichVVerification'
      required:
        [regime, document_number, document_type, tse_serial, client_id, signature_algorithm, time_format, start_event, end_event, verification]
    FiscalInformationKassenSichVStartEvent:
      type: object
      properties:
        signed_at:
          type: string
          format: date-time
        transaction_counter:
          type: integer
        signature:
          type: string
      required: [signed_at, transaction_counter, signature]
    FiscalInformationKassenSichVEndEvent:
      type: object
      properties:
        signed_at:
          type: string
          format: date-time
        transaction_counter:
          type: integer
        signature:
          type: string
        process_type:
          type: string
        process_data:
          type: string
      required: [signed_at, transaction_counter, signature, process_type, process_data]
    FiscalInformationKassenSichVVerification:
      type: object
      properties:
        qr_data:
          type: string
      required: [qr_data]
    FiscalInformationRKSV:
      type: object
      title: FiscalInformationRKSV
      properties:
        regime:
          type: string
          const: RKSV
        document_number:
          type: string
        document_type:
          type: string
        transmitted_at:
          type: string
          format: date-time
          nullable: true
        cashbox_id:
          type: string
        certificate_serial:
          type: string
        signature:
          $ref: '#/components/schemas/FiscalInformationRKSVSignature'
        verification:
          $ref: '#/components/schemas/FiscalInformationRKSVVerification'
      required: [regime, document_number, document_type, cashbox_id, signature, verification]
    FiscalInformationRKSVSignature:
      type: object
      properties:
        signed_at:
          type: string
          format: date-time
        transaction_counter:
          type: integer
        turnover_counter:
          type: string
        signature:
          type: string
        certificate_serial:
          type: string
      required: [signed_at, transaction_counter, turnover_counter, signature, certificate_serial]
    FiscalInformationRKSVVerification:
      type: object
      properties:
        qr_data:
          type: string
      required: [qr_data]
    FiscalInformationRT:
      type: object
      title: FiscalInformationRT
      properties:
        regime:
          type: string
          const: RT
        document_number:
          type: string
        document_type:
          type: string
        transmitted_at:
          type: string
          format: date-time
          nullable: true
        rt_serial:
          type: string
        rt_firmware:
          type: string
        progressive_number:
          type: integer
        daily_closing_number:
          type: integer
        lottery_code:
          type: string
          nullable: true
        signature:
          $ref: '#/components/schemas/FiscalInformationRTSignature'
      required:
        [regime, document_number, document_type, rt_serial, rt_firmware, progressive_number, daily_closing_number, signature]
    FiscalInformationRTSignature:
      type: object
      properties:
        signed_at:
          type: string
          format: date-time
        signature:
          type: string
      required: [signed_at, signature]
    PosOperationEnvelope:
      type: object
      properties:
        location_id:
          type: string
        register_id:
          type: string
        source:
          $ref: '#/components/schemas/OperationSource'
        external_id:
          type: string
          description: Merchant or POS identifier for the upstream order, ticket, or checkout in the caller's system.
        data:
          $ref: '#/components/schemas/OperationData'
      required: [location_id, register_id, source, external_id, data]
    Operation:
      type: object
      properties:
        id:
          type: string
        resource_version:
          type: string
          description: Current server-issued version for the operation. The same value is returned in the `ETag` header and changes on every successful mutation.
        organization_id:
          type: string
        location_id:
          type: string
        register_id:
          type: string
        source:
          $ref: '#/components/schemas/OperationSource'
        external_id:
          type: string
          description: Merchant or POS identifier for the upstream order, ticket, or checkout in the caller's system.
        status:
          $ref: '#/components/schemas/OperationStatus'
        type:
          $ref: '#/components/schemas/OperationType'
        currency:
          type: string
        totals:
          $ref: '#/components/schemas/Totals'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        fiscal_information:
          $ref: '#/components/schemas/FiscalInformation'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        [id, resource_version, organization_id, location_id, register_id, source, external_id, status, type, currency, totals, payments, created_at, updated_at]
    OperationCreateRequest:
      allOf:
        - $ref: '#/components/schemas/PosOperationEnvelope'
    OperationPatchRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OperationData'
      required: [data]
    OperationCompleteRequest:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentInput'
        completed_at:
          type: string
          format: date-time
          nullable: true
      required: [payments]
    OperationCancelRequest:
      type: object
      properties:
        reason:
          type: string
          enum: [customer_abandoned_checkout, void_before_completion, operator_cancelled, payment_failed]
      required: [reason]
    OperationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
        next_cursor:
          type: string
          nullable: true
      required: [data]
    Receipt:
      type: object
      properties:
        id:
          type: string
        operation_id:
          type: string
        status:
          type: string
          enum: [available, delivered, delivery_failed]
        delivery_channels:
          type: array
          items:
            type: string
        hosted_url:
          type: string
        pdf_url:
          type: string
      required: [id, operation_id, status]
    ExportJob:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [operations, receipts, audit_events]
        format:
          type: string
          enum: [csv, jsonl, parquet]
        status:
          type: string
          enum: [queued, processing, ready, failed, expired]
        schema_version:
          type: string
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        retention_expires_at:
          type: string
          format: date-time
        download_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
      required: [id, type, format, status, schema_version, retention_expires_at, created_at]
    ExportCreateRequest:
      type: object
      properties:
        type:
          type: string
          enum: [operations, receipts, audit_events]
        format:
          type: string
          enum: [csv, jsonl, parquet]
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
      required: [type, format, from, to]
